APP_NAME="Agents Interview"
DEBUG=false
DATABASE_URL="mysql+pymysql://用户名:密码@主机:端口/agents_interview"
LOG_LEVEL=INFO
JWT_SECRET="你的密钥"  """python -c "import secrets; print(secrets.token_hex(32))"""
TEST_DATABASE_URL="mysql+pymysql://用户名:密码@主机:端口/agents_interview_test"
LLM_API_KEY="sk-你的API-KEY"
LLM_BASE_URL="BaseUrl"
LLM_MODEL="deepseek-r1"